@import "../../styles/index.scss";

.button-wrapper {
  margin: 2rem;
  @include d-flex($justifyContent: center, $flexDirection: row);

  @media (max-width: 768px) {
    @include d-flex($justifyContent: center, $flexDirection: column);
    margin: 0;
  }
  .button {
    padding: 1rem 2rem;
    border: 1px solid $primaryThemeColor;
    text-transform: uppercase;
    background-color: black;
    color: #fff;
    border-radius: 15px;
    font-size: $primaryFontSize;
    font-weight: 400;
    margin: 0 2rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px rgba(13, 67, 90, 0.4);
    text-decoration: none;
    font-weight: 700;
    @media (max-width: 768px) {
      margin-top: 1rem;
    }

    &:hover {
      color: $primaryThemeColor;
      box-shadow: 0 5px 15px rgba(16, 234, 234, 0.4);
    }
  }
}
