@mixin d-flex($justifyContent: null, $flexDirection: null) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: center;
}

@mixin text-gradient($background, $background-clip, $fill-color) {
  background: $background;
  background-clip: $bg-clip;
  -webkit-text-fill-color: $fill-color;
}

@mixin font($font-size: null,$line-height: null,$font-weight: null,$color: null,$letter-spacing: null) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
  letter-spacing: $letter-spacing;
}
