$maxWidth: 1280px;
$logoSize: 50px;
$black: #000;
$white: #fff;
$primaryThemeColor: #00fff7;
$red: #f0353b;
$pageBackgroundColor: #171717;
$scheduleBtnWidth: 320px;
$inactiveDateBorderColor: rgb(255, 255, 255, 0.5);
$eventSpeakerImageSize: 100px;
$codeOfConductMaxWidth: 800px;
$formBgColor: #29233A;
$formInputBgColor :#402744;
$modalBackdropColor : rgb(0, 0, 0,0.7);
$formSubmitBtnBgColor : #693657;
$sectionMarginTop : 150px;
//font sizes
$primaryFontSize: 1rem;
$h1: 4rem;
$h2: 3rem;
$h3: 1.5rem; 