@import "../../styles/index.scss";

.location-container {
  color: $white;
  h2 {
    @include font(
      $font-size: $h2,
      $line-height: null,
      $font-weight: 800,
      $color: $primaryThemeColor,
      $letter-spacing: 2px
    );
    margin-top: $sectionMarginTop;
    text-transform: uppercase;
    text-align: center;
  }
  &__data {
    @include d-flex($justifyContent: space-between, $flexDirection: row);
    align-items: unset;
    gap: 30px;
    padding: 3rem 0;
    width: 90%;
    margin: 0 auto;
    max-width: $maxWidth;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      width: 100%;
    }
    &__details {
      border-radius: 25px;
      padding: 1rem;
      width: 40%;
      h3 {
        padding-bottom: 1rem;
        @include font(
          $font-size: $h3,
          $line-height: null,
          $font-weight: 600,
          $color: null,
          $letter-spacing: 2px
        );
        text-transform: capitalize;

        span {
          @include font(
            $font-size: $h3,
            $line-height: null,
            $font-weight: 600,
            $color: $primaryThemeColor,
            $letter-spacing: null
          );
          text-shadow: #00fff7 1px 0 10px;
        }
      }
      span {
        @include font(
          $font-size: $primaryFontSize,
          $line-height: null,
          $font-weight: 400,
          $color: $inactiveDateBorderColor,
          $letter-spacing: 4px
        );
      }
      li {
        @include font(
          $font-size: 1.05rem,
          $line-height: null,
          $font-weight: 500,
          $color: null,
          $letter-spacing: 1
        );
        line-height: 2;
        padding: 1rem 0;
        a {
          color: $white;
        }
      }
    }
    &__map {
      width: 600px;
      height: 400px;
      @media (max-width: 768px) {
        width: 100%;
        height: 300px;
      }
      iframe {
        width: 100%;
        height: 100%;
        border-radius: 25px;
      }
    }
  }
}
